@{
    ViewBag.Title = "Know us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The vision for this porject comes from the minds of John Corrigan and Shanna Latiolais. John and Shanna are recently engagaed and enjoy spending time together seeing the United 
    States. The country is a diverse tapestrty built over time by some amazing people doing amazing things. The couple love exploring and love people. This project is their chance 
    to share with the public this love.</p>
