@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
  Somewhere in sunny, beautiful;<br />
    Hinesville, GA 31313<br />

</address>

<address>
    <strong>Support:</strong>   <a href="mailto:john3corrigan@gmail.com">Support@edixiepodcast.com</a><br />
    <strong>Show Producers:</strong> <a href="mailto:john3corrigan@gmail.com">Production@example.com</a>
</address>