@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Whistling Dixie Podcast</h1>
    <p class="lead">Whistling Dixie Podcast is a project that will highlight significant structures in towns all over the world, through indepth coverage. This will begin as a monthly podcast (we will see how this goes from here). </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Why are we doing this?</h2>
        <p>
            Because we can and it should be done. There is so much going on in the cities that we humans live in and
            no one seems to notice. The city is made up of people and structures that the people inhabit and live in. 
            The structures have a story and it takes place in the past present and future.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Available Episodes</h2>
        <p>Find our episodes, download podcasts and view the episode posts.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Available episodes&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Comments</h2>
        <p>Do you have a suggestion or comment for Whistling Dixie? Let us know.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Comments &raquo;</a></p>
    </div>
</div>